.link-logo-1,
.link-logo-2 {
    object-fit: cover;
}
.link-logo-1 {
    width: 35px;
    height: 35px;
}
.link-logo-2 {
    width: 31px;
    height: 37px;
}
.contact-col-1 {
    > ul {
        > li {
            line-height: 13px;
            > a {
                font-size: 11px;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: -3.4px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 70px;
    align-items: flex-start;
    width: 100%;
    padding: 0 30px;
    .footer_st {
        display: flex;
        justify-content: space-between;
    }
}
.categories {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    padding: 30px 30px 70px;
}
.footerhome {
    position: relative;
    width: 69%;
    margin: 0 auto;
    padding: 30px 0 70px;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375rem) {
    // .footer {
    //     // padding: 30px 70px 70px;
    //     // width: ;
    //     .footer_st {
    //         width: 20%;
    //     }
    // }
}
@media only screen and (min-width: 46.25em) {
    .footer {
        .footer_st {
            width: 20%;
        }
    }
}

@media only screen and (max-width: 46.1875em) {
    .contact-col-1 {
        > ul {
            display: flex;
            text-align: center;
            > li {
                margin: 0 7px;
            }
        }
    }
    .contact-col-1 {
        margin-bottom: 20px;
        &:last-child {
            order: -1;
        }
        &:nth-child(2) {
            order: -1;
        }
    }
    .footerhome {
        width: 80%;
    }
    .footer {
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 30px 0px 100px;
        .footer_st {
            position: absolute;
            bottom: 60px;
            > a {
                margin: 0 15px;
                order: 1;
            }
        }
    }
    .categories {
        padding: 30px 30px 100px;
    }
}
